/*
** Color Scheme
** Orange: #D73F09
** grey: #D6D1CE
** Dark Grey: #565656
** Light grey: #E3E0DD
*/

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: Verdana, Geneva, sans-serif; */
  margin: 0;
  background-color: #565656;
  background: url(background_sm.jpg) center fixed no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

header {
  background-color: #D73F09;
  text-align: center;
}

:focus { outline: none; }

h3 {
  margin: 0px;
  font-weight: 50;
}

h2 {
  margin: 0px;
  font-weight: 70;
}

p {
  margin: 0px;
}

.injection-container {
  margin-left: 20%;
  margin-right: 20%;
  min-width: 50%;
  padding: 5%;
}

input[type=text], input[type=password] {
  min-width: 100%;
  padding: 10px 20px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  border: 2px solid #D73F09;
  padding: 9px 20px;
  outline: none;
}
input[type=submit] {
  width: 100%;
  background-color: #D73F09;
  color: white;
  padding: 10px 20px;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#reset-btn {
  width: 100%;
  background-color: #D73F09;
  color: white;
  padding: 10px 20px;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#reset-btn:hover {
  background-color: grey;
}

input[type=submit]:hover {
  background-color: grey;
}

.header-text {
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 3px;
  margin-top: 0px;
}

footer {
  width: 100%;
  height: 300px;
  padding: 0px;
  position: absolute;
  bottom: 0;
  background-color: #E3E0DD;
}

.tab-container {
  height: 25px;
  display: flex;
  background-color: #D73F09;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

button:hover {
  background-color: grey;
  color: white;
}

.syntax-viewer-content {
  height: 250px;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}

.hide {
  margin-left: auto;
}

.paragraph {
  margin-bottom: 1em;
  margin-left: 1em;
}

.help-text {
  margin: 3px 0px;
}

.active {
  background-color: #565656;
}

.hidden {
  display: none;
}

.open-btn {
  background-color: #D73F09;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.info-container {
  padding: 2em 1em 3em;
  background-color: white;

}

.reset {
  position: relative;
  right: 0px;
  bottom: 0px;
  background-color: #D73F09;
}
